@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------
    For Smooth Scrolling 
---------------------------------*/
html {
    scroll-behavior: smooth;
}

/*-------------------------------
    React Toastify Styling 
---------------------------------*/
.Toastify__toast-container--bottom-center {
    width: 100vw !important;
    display: flex;
    justify-content: center;
}
.Toastify__toast-theme--dark {
    text-align: center;
    width: 550px;
    background-color: #1b1a09 !important;
}

/*-------------------------------
    Scrollbar Styling 
---------------------------------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #020202;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #252525;
}

::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
}

::-webkit-scrollbar-thumb:horizontal {
    display: none;
}