@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------
    Scrollbar Styling 
---------------------------------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #020202;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #252525;
}